.block {
  rect {
    stroke: #666;
    fill: lightgreen;
  }

  text {
    font-size: 14px;
    user-select: none;
  }

  cursor: move;
}

rect.inbutton {
  stroke: #000;
  fill: #eee;

  cursor: pointer;
}

circle.outdot {
  fill: #333;
}
